@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Gochi+Hand&family=Great+Vibes&family=Indie+Flower&family=Lumanosimo&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 4vh;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    
}
.s8{
    border-bottom: 2px solid white;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 6, 17, 0.887);
    
}
.mmm{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
 
    width: 100%;
box-shadow: 5px 5px 5px 5px black;
padding: 20px;
border: 2px solid white;
border-radius: 10px ;
}
button{
    
    width: 80px;
margin: 3px;
    cursor: pointer;
}
#clraaa{
    width: 100px;
}
input{
    height: 40px;
width: 100%;
}